name: Android CI

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:

    runs-on: macOS-latest

    steps:
      - uses: actions/checkout@v2
      - name: pre-ci
        env:
          GOOGLE_SERVICES: ${{ secrets.GOOGLE_SERVICES }}
          KEY_STORE: ${{ secrets.KEY_STORE }}
        run: |
          echo "$GOOGLE_SERVICES" >> ./app/google-services.json && echo "$KEY_STORE" >> ./app/keystores/todoapp.keystore
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Gradle
        run: ./gradlew build
      - name: Upload app APK
        uses: actions/upload-artifact@v1
        with:
          name: app
          path: app/build/outputs/apk/
