name: Android CI

on: [pull_request]

jobs:
  build:
    runs-on: macOS-latest

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: pre-ci
        run: mv ./app/mock-google-services.json ./app/google-services.json
      - name: Lint check
        run: ./gradlew lint
      - name: Build with Gradle
        run: ./gradlew buildDebug
      - name: Upload app APK
        uses: actions/upload-artifact@v1
        with:
          name: app
          path: app/build/outputs/apk/
